{% extends 'solapp/base.html' %}
{% block content %}
<style>
.costumer-satis{
                height:389px;
                display:grid;
                {% load static %}
                background-image: url("{% static "images/jpan.png" %}");
                background-size:cover;
                background-repeat: no-repeat;
                background-attachment: fixed;

              }
                mark{
              background-color:grey;
              color: white;
               opacity: .8;
              }
</style>
<div class="costumer-satis">
 <div class="cs-texts"><h3 style="text-align:center; padding-top:100px;font-style:oblique;"><mark> News & Updates
   </mark></h3>
  </div>
</div>
<ul class="collapsible popout">
    <li style="padding-top:10px; padding-bottom:10px; padding-left:17px; color:orange; font-size:20px;"><b>Related News & Update's</b></li>
   <li style="padding-top:10px; padding-bottom:40px; padding-left:17px; color:darkred; font-size:17px; font-style:oblique;">click the below tab panel to know more!</li>
    <li>
        <div class="collapsible-header yellow"><b>ADMISSION OPEN FOR JAN / APR 2019 INTAKE</b>
           </div>
      <div class="collapsible-body grey lighten-5"><span>Date: 2019-03-30<br><br>

Admission Open for JAN / APR 2019 Intake in JAPAN.<br><br>

Date: 2019-03-30<br><br>

Admission Open for JAN /APR 2019 Intake for those students who want to study in Japan.<br><br>

Please contact soon...<br><br>

New classes are also running now.<br><br>

Thank You.</span></div>
    </li></ul>
<ul class="collapsible popout">
    <li>
      <div class="collapsible-header yellow"><b>NOTICE FOR JAPAN APPLY STUDENTS</b></div>
      <div class="collapsible-body grey lighten-5"><span>Date: 2019-03-27<br><br>

Admission Open notice for JAPAN apply Students.<br><br>

Date: 2019-03-27<br><br>

This notice has been issued to inform that all the JAPAN apply students should compulsary pass the upcoming NAT Exam or TOP J Exam or JLPT Exam.<br><br>

Thank You.<br><br>



Principal<br>

Sol Education Consultancy Ptv Ltd.</span></div>
    </li></ul>
<ul class="collapsible popout">
    <li>
        <div class="collapsible-header yellow"><b>NOTICE FOR 2019 UPCOMING EXAM</b></div>
      <div class="collapsible-body grey lighten-5"><span>Notice for upcoming TOP J, NAT and JLPT exam.<br><br>

          <b>Top J Exam</b>
<br><br>
2019 March - 4<br>
2019 May - 13<br>
2019 September -
          <br><br>
          <b>NAT Exam</b><br><br>

2019 February - 12<br>
2019 April - 9<br>
2019 June - 11<br>
2019 August - 6<br>
2019 October - 15<br>
2019 December - 10
          <br><br>
          <b>JLPT - Twice a Year</b>
<br><br>
July<br>
December<br><br>
          <b>NOTE: ALL THE JAPAN APPLIES STUDENTS SHOULD COMPULSARY ATTAIN THE UPCOMING EXAM.</b></span></div>
    </li></ul>
<ul class="collapsible popout">
    <li>
      <div class="collapsible-header yellow"><b>ADDITIONAL PART TIME WORK HOURS</b></div>
      <div class="collapsible-body grey lighten-5"><span>Study on employment of international students for additional work hours.<br><br>

This is to inform that the students who wants to study in Fukouka are able to work additional part time a week. The final notice is yet to come.<br><br>

For more information, contact to the office.<br><br>



Thank you.</span></div>
    </li></ul><br>
{% endblock %}